.tutorial {
  &__item {
    display: none;

    &--active {
      display: block;
    }

    &__content {
      &__canvas {
        width: 100%;
        height: 400px;
        display: block;
        margin: 0 auto;
      }
    }
  }
}
